:root {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-cyan: hsl(185, 75%, 39%);
  --dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: var(--dark-cyan);
  background: url("./assets/img/bg-pattern-top.svg") no-repeat bottom -100% left -50%,
    var(--dark-cyan) url("./assets/img/bg-pattern-bottom.svg") no-repeat top -100%
      right -50%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
